body {
    border: none;
    text-align: center;
}

main {
    text-align: center;
    padding-left: 20%;
}

nav {
    display: inline-block;
    /* Permite centrar horizontalmente */
}

.headerPpal {
    width: 59%;
    margin-left: 20%;
    background-color: #502110;
    /* Agrega imagen de fondo */
    background-size: cover;
    /* Ajusta el tamaño de la imagen al tamaño de la sección */
    background-position: center;
    /* Centra la imagen horizontal y verticalmente */
    padding: 30px 10px;
    /* Espaciado interno */
    text-align: center;
    /* Centrar contenido horizontalmente */
    border-bottom: 2px solid #A67B5B;
    /* Borde inferior de 2px de grosor y color oscuro */
}

.logo {
    float: left;
    /* Posiciona la imagen a la izquierda */
    margin-left: 30px;
    margin-right: 20px;
    /* Espacio entre la imagen y la lista de navegación */
}

.logoshop {
    float: right;
    /* Posiciona la imagen absolutamente */
    margin-right: 40px;
    /* Espacio entre la imagen y el borde derecho de la pagina*/
}

.logoname {
    float: left;
    /* Posiciona la imagen a la izquierda */
    margin-right: 20px;
    /* Espacio entre la imagen y la lista de navegación */
}

nav ul {
    list-style: none;
    /* Quita los estilos de la lista */
    padding: 0;
    margin: 0 auto;
    /* Centra la lista horizontalmente */

}

nav ul li {
    display: inline;
    /* Muestra los elementos de la lista en línea */
    margin-right: 20px;
    /* Espacio entre elementos de la lista */
}

nav ul li a {
    color: #fff;
    /* Color de texto claro */
    text-decoration: none;
    /* Quita el subrayado del enlace */
}

nav ul li a:hover {
    text-decoration: underline;
    /* Subraya el enlace al pasar el ratón */
}

.seccion1 {
    width: 75.5%;
    background-color: #502110;
    position: relative;
    /* Establece el contexto de posicionamiento */
    height: 780px;
    /* Altura del contenedor */
}

.secciong {
    width: 75.5%;
    position: relative;
}

.seccionFlex2 {
    display: flex;
    height: 492px;
}

.seccionFlex3 {
    display: flex;
    height: 480px;
}

.seccionFlex4 {
    display: flex;
    height: 600px;
    background-color: #7F2E3B;
    margin-bottom: 60px;
}

.h1s4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: white;
    padding-top: 40px;
    position: absolute;
    top: 120px;
    left: 440px;
    z-index: 1;
    width: 450px;
    text-align: left;
}

.ps4 {
    position: absolute;
    font-size: small;
    color: white;
    top: 390px;
    left: 600px;
    z-index: 2;
    width: 280px;
    text-align: left;
}

.btns4 {
    margin-top: 20px;
    padding: 10px 20px;
}

.btns4:hover {
    background-color: pink;
}

.imgRosada {
    width: "700px";
}

.img-page {
    position: absolute;
    /* Posiciona las imágenes de forma absoluta */
    top: 0px;
    /* Posición desde la parte superior */
    left: 0px;
    /* Posición desde la parte izquierda */
    z-index: 1;
    /* Capa más baja */
}

.img-tittle {
    position: absolute;
    /* Posiciona las imágenes de forma absoluta */
    top: 300px;
    /* Posición desde la parte superior */
    left: 185px;
    /* Posición desde la parte izquierda */
    z-index: 2;
    /* Capa más alta */
}

.img-bolso {
    position: absolute;
    /* Posiciona las imágenes de forma absoluta */
    top: 0px;
    /* Posición desde la parte superior */
    left: 0px;
    /* Posición desde la parte izquierda */
    z-index: 3;
    /* Capa intermedia */
}

.texto {
    position: absolute;
    /* Posiciona las imágenes de forma absoluta */
    top: 420px;
    /* Posición desde la parte superior */
    left: 190px;
    /* Posición desde la parte izquierda */
    z-index: 4;
    /* Capa más alta */
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.boton {
    position: absolute;
    /* Posiciona las imágenes de forma absoluta */
    top: 530px;
    /* Posición desde la parte superior */
    left: 410px;
    /* Posición desde la parte izquierda */
    z-index: 5;
    /* Capa más alta */
    width: 125px;
    height: 48px;
}

.boton:hover {
    background-color: bisque;
}

.pieSeccion {
    width: 72%;
    display: flex;
    justify-content: space-between;
    background-color: #502110;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding: 20px 20px;
}

nav ul li a:hover {
    color: chocolate;
}


/* Footer */


.footer_div {
    width: 59%;
    text-align: center;
    margin-left: 20%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    /* Añade espacio alrededor del footer */
    background-color: #ffffff;
    /* Cambia el color de fondo del footer si es necesario */
}

.izquierda {
    width: 400px;

}

.footerizquierdat {
    display: flex;
    padding: 2%;
}

.derecha {
    display: flex;
    justify-content: space-between;
}

.abajo {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 62%;
    text-align: center;
    margin-left: 20%;
}

.footer__social {
    display: flex;
    /* Hace que el contenedor use Flexbox */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
    gap: 10px;
    /* Espacio entre los elementos */
    padding: 20px;
    /* Espacio interno del contenedor */

    color: white;
    /* Color del texto */
}

.footer__icons {

    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
}


/* página blog.html */

.headerBlog {
    padding-left: 24%;
    text-align: left;
    padding-top: 5%;
}

.mainBlogBag {
    text-align: center;
    padding-left: 23%;
}

.tarjeta {
    border: 1px solid gray;
    width: 40%;
    padding: 10px;
    margin: 20px;
    text-align: left;
}

.seccionTarjetas {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.textoTarjetas {
    color: gray;
}

.headVarios {
    display: flex;
    justify-content: space-between;
    width: 68%;
    align-items: center;
}

.logMin {
    width: 22px;
    height: 22px;
}

/* página bags.html*/

.headerBags {
    text-align: center;
    padding-top: 5%;
}

.headVarBags {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajCarrusel {
    padding-bottom: 125px;
}

/* página accesories.html*/

.headerAccesorios {
    text-align: left;
    padding-left: 20%;
}

.mainAccesorios {
    text-align: center;
    padding-left: 19%;
}

.tarjAccesorio {
    padding: 8px;
    margin: 9px;
}

.headVarAcc {
    display: flex;
    justify-content: left;
    align-items: center;
}

/* seccion 2  */
.text2 {
    margin-top: 105px;
    text-align: center;
    justify-content: center;
    flex-direction: center;
}

.contenedors2 {
    display: flex;
    /* Utiliza un contenedor flex */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
    height: 490px;
    /* Altura opcional para el artículo */
    /* border: 1px solid black; */
    /* Borde para visualización */
}

.contenedors3 {
    display: flex;
    /* Utiliza un contenedor flex */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
    height: 400px;
    /* Altura opcional para el artículo */
    /* border: 1px solid black; */
    /* Borde para visualización */
}

.centrado {
    /* Estilos adicionales para el div centrado */
    /* background-color: lightgray; */
    /* Color de fondo */
    padding: 20px;
    /* Espacio alrededor del contenido */
}

.negrita-grande {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
}

.pequeno {
    font-size: 12px;
    text-align: left;

}

.pequeno-opaco {
    font-size: 12px;
    opacity: 0.5;
    margin-top: 15px;
    text-align: left;
}

.button-s3 {
    margin-top: 15px;
    border-radius: 0px;
    color: white;
    background-color: black;
    width: 110px;
    height: 40px;
    float: left;

}

/* Formulario */

.formulario {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    width: 138vh;

}

form {

    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    width: 400px;
    background-color: #502110;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.labelf {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],

.buttonf {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000be;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttonf {
    background-color: white;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonf:hover {
    background-color: #f56530;
}

@media screen and (max-width: 480px) {
    form {
        width: 90%;
    }
}

.tituloforms {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    height: 20vh;
    width: 135vh;
    /* Altura del contenedor (ajusta según necesidad) */

}


.divtituloforms {
    font-size: 2rem;
    /* Tamaño de fuente del h1 */
    color: #333;
}

/* Mapa */


.map2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 200%;

}


.map-container {
    display: flex;
    margin-top: 50px;
    width: 380px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Estilo para el iframe del mapa */
iframe {
    width: 100%;
    height: 100%;
    border: none;

}