body {
    background-color: rgb(228, 198, 198);

    width: 1440px;
    border: none;
    /* overflow-x: hidden;
    Para ocultar la barra de desplazamiento horizontal */
}

header {
    background-color: #502110;
    /* Agrega imagen de fondo */
    background-size: cover;
    /* Ajusta el tamaño de la imagen al tamaño de la sección */
    background-position: center;
    /* Centra la imagen horizontal y verticalmente */
    padding: 30px 10px;
    /* Espaciado interno */
    text-align: center;
    /* Centrar contenido horizontalmente */
    border-bottom: 2px solid #A67B5B;
    /* Borde inferior de 2px de grosor y color oscuro */

}



nav {
    display: inline-block;
    /* Permite centrar horizontalmente */
}

.logo {
    float: left;
    /* Posiciona la imagen a la izquierda */
    margin-left: 30px;
    margin-right: 20px;
    /* Espacio entre la imagen y la lista de navegación */
}

.logoshop {
    float: right;
    /* Posiciona la imagen absolutamente */
    margin-right: 40px
        /* Espacio entre la imagen y el borde derecho de la pagina*/
}

.logoname {
    float: left;
    /* Posiciona la imagen a la izquierda */
    margin-right: 20px;
    /* Espacio entre la imagen y la lista de navegación */
}


nav ul {
    list-style: none;
    /* Quita los estilos de la lista */
    padding: 0;
    margin: 0 auto;
    /* Centra la lista horizontalmente */

}

nav ul li {
    display: inline;
    /* Muestra los elementos de la lista en línea */
    margin-right: 20px;
    /* Espacio entre elementos de la lista */
}

nav ul li a {
    color: #fff;
    /* Color de texto claro */
    text-decoration: none;
    /* Quita el subrayado del enlace */
}

nav ul li a:hover {
    text-decoration: underline;
    /* Subraya el enlace al pasar el ratón */
}

.sectionprincipal {
    background-image: url('./assets/images/Rectangle\ \(1\).png');
    /* Agrega imagen de fondo */
    background-size: cover;
    /* Ajusta el tamaño de la imagen al tamaño de la sección */
    background-position: center;
    /* Centra la imagen horizontal y verticalmente */
    position: relative;
    /* Establece el contexto de posicionamiento */
}

.seccion1 {
    background-color: #502110;
    width: 1440px;
    position: relative;
    /* Establece el contexto de posicionamiento */
    height: 799px;
    /* Altura del contenedor */
}




.img-page {
    position: absolute;
    /* Posiciona las imágenes de forma absoluta */
    top: 0;
    /* Posición desde la parte superior */
    left: 0;
    /* Posición desde la parte izquierda */
    z-index: 1;
    /* Capa más baja */
}

.img-bolso {
    position: absolute;
    /* Posiciona las imágenes de forma absoluta */
    top: 50px;
    /* Posición desde la parte superior */
    left: 250px;
    /* Posición desde la parte izquierda */
    z-index: 2;
    /* Capa intermedia */
}

.img-tittle {
    position: absolute;
    /* Posiciona las imágenes de forma absoluta */
    top: 350px;
    /* Posición desde la parte superior */
    left: 430px;
    /* Posición desde la parte izquierda */
    z-index: 3;
    /* Capa más alta */
}

.texto {
    position: absolute;
    /* Posiciona las imágenes de forma absoluta */
    top: 460px;
    /* Posición desde la parte superior */
    left: 470px;
    /* Posición desde la parte izquierda */
    z-index: 4;
    /* Capa más alta */
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.boton {
    position: absolute;
    /* Posiciona las imágenes de forma absoluta */
    top: 580px;
    /* Posición desde la parte superior */
    left: 660px;
    /* Posición desde la parte izquierda */
    z-index: 5;
    /* Capa más alta */
    width: 125px;
    height: 48px;
}

.pieSeccion {
    display: flex;
    justify-content: space-between;
    background-color: #502110;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding: 20px 20px;
}

nav ul li a:hover {
    color: chocolate;
}

footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;

}

.footer-marca,
.footer-listas {
    flex: 1;
}



.footer-copy {
    margin-top: 20px;
}